.avatar {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  border-radius: 999px;
  border: 1px solid #000;
}

.name-div {
  display: flex;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}
