.all-names-div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #eee;
}

.heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f7e608;
  padding: 40px 20px;
}

.heading > input {
  padding: 8px 12px;
  height: fit-content;
  border: none;
  outline-width: 0;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

.loader-div {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.loader-div > p {
  font-size: 1.4rem;
  margin-left: 20px;
  font-weight: bold;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 576px) {
  .heading {
    flex-direction: column;
  }

  .heading > h1 {
    margin-bottom: 20px;
  }
}
