.Auth {
  background-color: #f7e608;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 12%; */
}

.login-heading {
  display: flex;
  flex-direction: column;
  font-size: 2em;
  text-align: center;
}

.login-box {
  background-color: #fff;
  height: 600px;
  text-align: center;
  margin-left: 200px;
  box-shadow: 1px 1px 28px 4px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}

.login-box > img {
  max-width: 400px;
  margin: 20px 0;
  height: auto;
}

.login-box > h2 {
  margin-bottom: 20px;
  font-size: 1.75rem;
}

@media (max-width: 900px) {
  .Auth {
    flex-direction: column;
  }
}
